.iphone-frame {
    width: 393px;
    height: 852px;
    background: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .title{
    color: #fff;
    margin-bottom: 10px;
    position: absolute;
    margin-top: -193%;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
  }

  .backLogo{
    width: 8px;
    height: 13px;
    margin-top: -195%;
    margin-right: 80%;
    position: absolute;
    cursor: pointer;
  }

  .search{
    width: 296px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    position: absolute;
    margin-top: -160%;
  }

  .searchLogo{
    width: 14px;
    height: 14px;
    position: absolute;
    margin-top: -160%;
    margin-left: 65%;
    cursor: pointer;
  }

  .bar{
    width: 8px;
    height: 83px;
    border-radius: 6px;
    background-color: #311683;
    flex-shrink: 0;
  }

  .container1{
    display: flex;
    position: absolute;
    margin-top: -128%;
    margin-right: -60%;
    font-size: 12px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
  
  .flex-container {
    height: 83px;
    width: calc(35% + 5px);
    padding: 10px;
    margin-left: 29px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    cursor: pointer;
}

.flex-container:nth-child(odd) {
  margin-right: -3px;
}
.flex-container:nth-child(even) {
  margin-left: -3px;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.textContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 10px;
    color: #fff;
    padding-left: 10px;
    font-family: 'Pretendard', sans-serif;
}


.writeBtn{
  width: 69px;
  height: 69px;
  border-radius: 50px;
  background-color: #311683;
  border-style: none;
  cursor: pointer;
  position: absolute;
  margin-top: 180%;
  margin-left: 60%;
  z-index: 10px;
}

.penLogo{
  width: 33px;
  height: 31px;
}

.scroll {
  width: 393px;
  height: 645px;
  margin-top: 53%;
  overflow-y: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-option {
  cursor: pointer;
  color: #a3a3a3; 
  transition: color 0.3s;
}

.sort-option.active {
  color: #ffffff;
}

.sort-option:hover {
  color: #ffffff;
}
