.iphone-frameG {
    width: 393px;
    height: 852px;
    background: linear-gradient(to bottom, #2A2566, #04010D);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.titleCB {
    color: #fff;
    margin-bottom: 10px;
    position: absolute;
    margin-top: -200%;
    font-weight: bolder;
    font-size: 16px;
}

.topXCB{
    width: 12px;
    height: 12px;
    margin-left: 80%;
    cursor: pointer;
    position: absolute;
    margin-top: -203%;
}


.searchCB{
    width: 230px;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
}

.checkBtnCB{
    border-radius: 0px 20px 20px 0px;
    width: 64px;
    height: 47px;
    background-color: #311683;
    color: #fff;
    border-style: none;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    right: 10%;
    z-index: 1;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.fontStyleCB {
    color: #fff;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
}

.inputCB {
    width: 285px;
    max-width: 285px; 
    min-height: 140px;
    background-color: rgba(255, 255, 255, 0.1);
    border-style: none;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: #fff;
    resize: none;
}

.finishBtn {
    position: absolute;
    margin-top: 180%;
    width: 318px;
    height: 50px;
    background-color: #311683;
    border-radius: 20px;
    border-style: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.locate {
    margin-top: -20%;
}

.flexContainerCB {
    display: flex;
}