.iphone-frameMD{
    width: 393px;
    height: 852px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.modalMD{
    width: 279px;
    height: 305px;
    border-radius: 50px;
    text-align: left;
    background: linear-gradient(to bottom, #2A2566, #04010D);
    color: #fff;
    position: absolute;
}

.textLocateMD{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
}

.modalLogoContainer{
    display: flex;
    margin-left: 75%;
    margin-top: 10%;
}

.modifyMD{
    width: 2.6px;
    height: 10.8px;
    cursor: pointer;
}

.XMD{
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.barW{
    width: 8px;
    height: 36px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-left: 20px;
}

.flex-containerMD{
    display: flex;
    justify-content: left; 
    margin-left: 20px;
    align-items: center;
}

.horizantalMD{
    width: 192px;
    height: 1px;
    background-color: #fff;
    display: flex;
}

.horizantalMD-container {
    display: flex;
    justify-content: center;
}