.iphone-frameG {
    width: 393px;
    height: 852px;
    background: linear-gradient(to bottom, #2A2566, #04010D);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.titleMB {
    color: #fff;
    margin-bottom: 10px;
    position: absolute;
    margin-top: -195%;
    font-weight: bolder;
}

.topX {
    width: 12px;
    height: 12px;
    position: absolute;
    margin-top: -198%;
    margin-left: 80%;
    cursor: pointer;
}


.searchMB{
    width: 287px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
}

.checkBtnMB{
    border-radius: 0px 20px 20px 0px;
    width: 64px;
    height: 47px;
    background-color: #311683;
    color: #fff;
    border-style: none;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    right: 10%;
    z-index: 1;
}

.fontStyleMB {
    color: #fff;
    font-size: 16px;
}

.inputMB {
    width: 285px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.1);
    border-style: none;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: #fff;
}

.finishBtn {
    position: absolute;
    margin-top: 180%;
    width: 318px;
    height: 50px;
    background-color: #311683;
    border-radius: 20px;
    border-style: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;

}

.locate {
    margin-top: -20%;
}

.flexContainerMB {
    display: flex;
}