.iphone-frame {
    width: 393px;
    height: 852px;
    background: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.back-button {
    position: absolute;
    left: 20px;
    width: 12px;
    height: auto;
}

.recommend-title {
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.recommend-subtitle {
    color: #fff;
    margin-top: 50px;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
}

.recommend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.recommend-flex-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 329px;
    height: 62px;

}

.recommend-flex-container .bar {
    width: 6px;
    height: 100%;
    background-color: #311683;
    border-radius: 5px;
}

.recommend-flex-container .textContainer {
    flex: 1;
    display: flex;
    color: #fff;
    font-size: 16px;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    color: #fff;
    font-size: 14px;
}

.pagination div {
    margin: 0 5px;
    cursor: pointer;
}

.pagination .active {
    color: #311683;
    font-weight: bold;
}

.pagination button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #311683;
    border-radius: 100%;
    padding: 2px 3px;
    font-size: 11px;
    margin: 5px;
}